.cmp-tabs {
    text-align: center;
}
.cmp-tabs__tablist {
    justify-content: center;
}
.cmp-tabs__tab {}
.cmp-tabs__tab--active {
    color: red;
}
.cmp-tabs__tabpanel {}
.cmp-tabs__tabpanel--active {
}