@color-primary:         #C00A27;
@color-text:            #FFFFFF;
@color-secundary:       #FFAE00;
@desktop-media:         1200px;  

.pzbf-header__section2{
    background-color: @color-primary;
    display: flex;
    justify-content: space-evenly;
}

.pzbf-header__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: normal;
}

.pzbf-list__item--URL {
    text-decoration: none;
}

.pzbf-list__item {
    opacity: .7;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 50px;
    color: @color-text;
    transition: opacity .2s;
}

.pzbf-list__item:hover {
    opacity: .4;
}

.pzbf-list__item:active {
    opacity: 1;
}

.pzbf-item__img {
    margin-right: 10px;
    text-decoration: none;
}

.hidde{
    display: none;
}

.hiddeRes{
    display: none;
}

.color_active{
    color: @color-secundary !important;
}

@media(max-width: @desktop-media){
    .pzbf-header__section2{
        display: none !important;
    }

    .pzbf-header__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-weight: small;
    }
    
    .pzbf-list_menu{
        justify-self: center;
    }

}