.pzbf-footer .pzbf-info__name::after {
    margin-left: 10px;
    content: "|";
    color: #f0002f;
}
.pzbf-footer  .pzbf-info__tfn::before {
    margin-right: 10px;
    content: "|";
    color: #f0002f;
}
.pzbf-footer .pzbf-info__location{
    margin: 10px 10px 10px;
    text-align: center;
}
.footer-info p{
    display:inline;
}
.footer-info{
    text-align: center;
}