
<div class="pzbf-prefooter">
    <div class="pzbf-prefooter__item">
        <img class="pzbf-prefooter__item__image" src="${properties.fileReference1}" alt="">
        <span class="pzbf-prefooter__item__title">${properties.title1}</span>
        <span class="pzbf-prefooter__item__description">${properties.text1}</span>
    </div>
    <div class="pzbf-prefooter__item">
        <img class="pzbf-prefooter__item__image" src="${properties.fileReference2}" alt="">
        <span class="pzbf-prefooter__item__title">${properties.title2}</span>
        <span class="pzbf-prefooter__item__description">${properties.text2}</span>
    </div>
    <div class="pzbf-prefooter__item">
        <img class="pzbf-prefooter__item__image" src="${properties.fileReference3}" alt="">
        <span class="pzbf-prefooter__item__title">${properties.title3}</span>
        <span class="pzbf-prefooter__item__description">${properties.text3}</span>
    </div>
    <div class="pzbf-prefooter__item">
        <img class="pzbf-prefooter__item__image" src="${properties.fileReference4}" alt="">
        <span class="pzbf-prefooter__item__title">${properties.title4}</span>
        <span class="pzbf-prefooter__item__description">${properties.text4}</span>
    </div>
</div>