<a href="#">
    <div class="pzbf-news-list__item__wrapper">
        <sly data-sly-resource="${'root/image' @ wcmmode='disabled', resourceType='pizza005/components/image'}"></sly>
        <div class="pzbf-news-list__item-text-container">
            <sly data-sly-resource="${'root/title' @ wcmmode='disabled'}"></sly>
            <sly data-sly-resource="${'root/text' @ wcmmode='disabled'}"></sly>
            <sly data-sly-resource="${'root/text_extra' @ wcmmode='disabled'}"></sly>
        </div>
    </div>
</a>