
    <div class="pzbf-header__section1">
        <img class="pzbf-header__image" src="/apps/pzbf/clientlibs/clientlib-site/resources/images/pizzabay_logo.png"
            alt="PizzaBay Logo" />
        <nav class="pzbf-header__topnav" id="header__topnav">
            <a class="pzbf-topnav__url" href="#" class="active">Order Online</a>
            <a class="pzbf-topnav__url" href="#">About</a>
            <a class="pzbf-topnav__url" href="#">News</a>
            <a class="pzbf-topnav__url" href="#">Store Locator</a>
        </nav>
        <a class="pzbf-topnav__collapse" href="javascript:void(0);" onclick="collapseMenu()">
            <img width="40" height="30" src="/apps/pzbf/clientlibs/clientlib-site/resources/images/collapse_icon.png"
                alt="Collapse Menu Icon" />
        </a>
        <div class="pzbf-header__text">
            <p class="pzbf-text__location">Call and Order in Abades ▼</p>
            <p class="pzbf-text__phone">999 999 999</p>
        </div>
    </div>