scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/bay
        create path (nt:unstructured) /content/dam/bay/jcr:content
        set properties on /content/dam/bay/jcr:content
        set cq:conf{String} to /conf/bay
        set jcr:title{String} to \"Pizzabay005\"
        end
        "
]
